.header {
  left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40628e;
  box-shadow: 10px 6px 10px #3a5bff29;
}

.headerLogo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.headerButtons {
  padding-top: 60px;
}

.homeHeader {
  padding-top: 20px;
  padding-bottom: 10px;
}

.homeParagraph {
  padding-bottom: 10px;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: #373a3c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: #111;
}

h2 {
  color: #818a91;
}

p {
  color: #777777;
}
