.header {
  left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40628e;
  box-shadow: 10px 6px 10px #3a5bff29;
}

.headerLogo {
  padding-top: 2%;
  padding-bottom: 2%;
}

.headerButtons {
  padding-top: 5.5%;
}

.homeHeader {
  padding-top: 2%;
  padding-bottom: 1%;
}

.homeParagraph {
  padding-bottom: 1.5%;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: #373a3c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: #9c9c9c;
}

h2 {
  color: #818a91;
}

h5 {
  color: #777777;
}

p {
  color: #777777;
}

.formArea {
  padding-right: 2.5%;
  padding-top: 2%;
}

.statusTextArea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 11px;
  opacity: 1;
}

.saveButton {
  padding-bottom: 0.5%;
}

.statusLogo {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.statusCol1 {
  padding-top: 2.5%;
  font-size: 14px;
  color: #777777;
}

.infoStatus {
  font-weight: bold;
}

.statusCol2 {
  padding-top: 2.5%;
  font-size: 14px;
  text-align: right;
  color: #777777;
}

.historyHeader {
  padding-right: 92.5%;
  padding-top: 1%;
}

.historyArea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 11px;
  opacity: 1;
}

.login {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
  opacity: 1;
}

.register {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
  opacity: 1;
}

.myProfile {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
  opacity: 1;
}

.myShipments {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
  opacity: 1;
}

.logout {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
  opacity: 1;
}
